<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOOD BANK MANAGEMENT SYSTEM</title>
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- icons link -->
    	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
      <script src="https://kit.fontawesome.com/6c1b22244e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>


    <header>
    <nav>
        <h1>BBMS</h1>
        <div class="menu">
          <a href="#" class="is-active">Home</a>
          <a href="/request">Request Blood</a>
          <a href="/contact">Contact Us</a>
          <!-- <a href="/donate">Donate Blood</a> -->
          <a href="/login">Sign In</a>
        </div>
        <button class="hamburger">
          <span class="material-icons">menu </span>
        </button>
    </nav>
    <div class="mobile-menu">
      <a href="#">Home</a>
      <a href="/request">Request Blood</a>
      <!-- <a href="/donate">Donate Blood</a> -->
      <a href="/contact">Contact Us</a>
      <a href="/login">Sign In</a>
    </div>
  </header>
<section id=home>
    <div class="row home1">
      <div class="col-lg-6">
        <p class="wecare">We Care About <br>Your<b style="color: #5F9DF7;"> Blood</b></p>
      </div>
      <div class="col-lg-6 quote">
        <p>Donating blood may be a small act for one, but it has the power to save a life and create a ripple of hope that spreads far beyond measure.</p>
      </div>

    </div>
    <div class="row home2">
      <div class="col-lg-6 advantage-div">
        <p class="advantages">Our Advantages</p>
        <div class="row">
          <div class="col-lg-12">
            <div class="icon-background">
              <i class="ad-icon fa-solid fa-calendar-days fa-2x "></i>
            </div>
            <p class="advans">Donate Blood Easily</p>
          </div>
          <div class="col-lg-12">
            <div class="icon-background">
              <i class="ad-icon fa-solid fa-heart fa-2x "></i>
            </div>
            <p class="advans">Free to use</p>
          </div>
          <div class="col-lg-12">
            <div class="icon-background">
              <i class="ad-icon fa-solid fa-hospital fa-2x "></i>
            </div>
            <p class="advans">Make a request for blood</p>
          </div>
          <div class="col-lg-12">
            <div class="icon-background">
              <i class="fa-solid fa-bullseye fa-2x ad-icon"></i>
            </div>
            <p class="advans">Excellent services</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pic-background">
        <div class="home-img">
        </div>
        <div class="contact">
          <p><i class="fa-solid fa-phone"></i> (+44) 712-888-7688 <i class="fa-solid fa-envelope"></i> bbms@gmail.com <br><br>
          <i class="fa-solid fa-location-dot"></i> 65 Anavarin Square, London
          </p>
        </div>
      </div>

    </div>
    </section>

    <!-- Services -->
    <section id="services">
      <div class="footer-line">
        <!-- footer line -->
      </div>
    <p class="services-headding">Our Services</p>
    <div class="row card-row">
      <div class="col-lg-4">
        <div class="card cardd">
          <div class="card-body">
            <img class="card-img" src="img/donate-blood.png" alt="">
            <p class="services-subheaddings first-subheadding">Donate Blood</p>
            <p class="first-card-txt">Anyone can donate blood. All you have to do is come to our location and fill a form with the help of our staff.</p>
            <button type="button" class="btn btn-primary appointment card-btn">
              <a class="nav-link download-nav-link db1" href="/login">Get Started <i class="fa-solid fa-arrow-right"></i></a></button>

          </div>
        </div>
      </div>
      <div class="col-lg-4 cardd">
        <div class="card">
          <div class="card-body">
            <img class="card-img" src="img/hospital.png" alt="">
            <p class="services-subheaddings">Request for Blood</p>
            <p>As an hospital you can request for blood, just singup, fill a form and we will verify your request.</p>
            <button type="button" class="btn btn-primary appointment card-btn">
              <a class="nav-link download-nav-link db1" href="/login">Get Started <i class="fa-solid fa-arrow-right"></i></a></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 cardd">
        <div class="card">
          <div class="card-body">
            <img class="card-img" src="img/database.png" alt="">
            <p class="services-subheaddings">24/7</p>
            <!-- <p>We keep an extensive record of all blood donated and all blood requests granted to hospitals.</p> -->
            <p>We are available 24/7. Our team is always ready and available to assist you whenever you need us.</p>
            <button type="button" class="btn btn-primary appointment card-btn">
              <a class="nav-link download-nav-link db1" href="#">Get Started <i class="fa-solid fa-arrow-right"></i></a></button>
          </div>
        </div>
      </div>

    </div>
  </section>
    <!-- AboutUs -->
    <section id="aboutus">
      <div class="row">
        <div class="col-lg-6 about-text">
          <div class="about-blue-line">
          </div>
          <p class="about-title">ABOUT OUR COMPANY</p>
          <p class="about-text1">Welcome To Our <br>Company</p>
            <p class="about-text2">Welcome to our blood bank, where every drop of blood counts towards saving a life. We are committed to providing a safe and reliable source of blood for those in need, and our team of dedicated professionals works tirelessly to ensure that every donor feels comfortable and valued.</p>
            <button type="button" class="btn btn-primary appointment">
              <a class="nav-link download-nav-link db1" href="#">Donate Blood <i class="fa-solid fa-arrow-right"></i></a></button>

        </div>
        <div class="col-lg-6 about-img">
          <div class="">
            <img class="about-img1" src="img/about-img1.jpg" />
            <!-- first about us image -->
          </div>
          <div class="">
            <img class="about-img2" src="img/about-img2.jpg" />
            <!-- second about us image -->
          </div>
          <div class="">
            <img class="about-img3" src="img/about-img3.jpg" />
            <!-- third about us imge -->
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <section id="footer">
      <div class="row">
        <div class="col-lg-3">
          <ul>
            <li>
              BBMS
            </li>
            <li>
              Preserving the gift of life
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <ul>
            <li>
              <a href="/" >Home</a>
            </li>
            <li>
              <a href="/login">Donate</a>
            </li>
            <li>
              <a href="/signup">Create Account</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <ul>
            <li>
              <a href="#">Hospital</a>
            </li>
            <li>
              <a href="#">Blood Bank</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <ul>
            <li>
              <a href="#aboutus">About Us</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
            <li>
              <a href="#services">Services</a>
            </li>
          </ul>
        </div>
      </div>
        <div class="footer-line">
          <!-- footer line -->
        </div>
        <div class="icons">
          <i class="icon fa-brands fa-instagram "></i>
          <i class="icon fa-brands fa-facebook faceboo "></i>
          <i class="icon fa-brands fa-twitter "></i>
          <i class="icon fa-brands fa-linkedin-in "></i>
        </div>
        <div class="rights">
          <p>© 2024 BBMS Copyright | All Rights Reserved</p>
          <!-- <a href="#" target="_blank">Terms and Conditions</a> -->
        </div>
    </section>


    <!-- bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </body>
</html>
